# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Test, release and publish

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: '*'

jobs:
  tests:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version: [16.15.0]
        os: [ubuntu-latest, macOS-latest]

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: npm test

  publish-release:
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/master' }}
    needs: [tests]

    steps: 
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    # - run: npm ci
    - run: npm run rollup
    - run: npm run semantic-release
      env: 
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish-storybook:
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/master' }}
    needs: [publish-release]

    steps: 
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    # - run: npm ci
    - run: npm run build-storybook
    - name: Deploy Storybook docs
      uses: JamesIves/github-pages-deploy-action@3.6.2
      with:
        branch: gh-pages
        folder: storybook-static # output folder from `npm run build-storybook`
